<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Easy Too Do</title>

  <link rel="stylesheet" href="./stely.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap"> 

  <script src="script.js" defer></script>
</head>

<body>

  <form>
    <h2>Too Easy To Do</h2>

    <div class="input">
      <input required type="text" name="nameCompleto" />
      <label>Nome Completo</label>
    </div>

    
    <div class="input">
        <input required type="text" name="username" />
        <label>Usuário</label>
      </div>

      
    <div class="input">
        <input required type="text" name="email" />
        <label>E-mail</label>
      </div>


    <div class="input">
      <input required type="password" name="password"/>
      <label>Senha</label>
    </div>

    <button type="submit" value="Submit">Criar</button>

  </form>
</body>

</html>